@import 'src/styles/modules.scss';
@import 'src/styles/variables.scss';

.code-item {
    flex-basis: calc((100% - 6rem) / 6);
    position: relative;
    margin-left: 1rem;
    margin-bottom: 1rem;
    @include border($bright-gray);
    border-radius: 1rem;
    padding-bottom: 0.6rem;
    background: white;
    text-align: center;
    box-shadow: 0 0 0.5rem rgba($bright-gray, 0.5);
    transition: flex-basis 200ms linear;

    @include for-size(tablet-landscape) {
        flex-basis: calc((100% - 5rem) / 5);
    }

    @include for-size(tablet-portrait) {
        flex-basis: calc((100% - 4rem) / 4);
    }

    @include for-size(mobile-landscape) {
        flex-basis: calc((100% - 3rem) / 3);
    }

    @include for-size(mobile-portrait) {
        flex-basis: calc((100% - 2rem) / 2);
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1.5rem 0 1.8rem;
        background: $brand;
        @include pointer;

        a {
            height: 4rem;
            font-size: 4rem;
            font-weight: bold;
            color: $white;
            margin: 0;
        }

        .bookmark {
            position: absolute;
            top: 0rem;
            right: 0.5rem;
            font-size: 1rem;
            color: $white;
            @include pointer;

            a {
                height: auto;
                font-size: inherit;
            }

            img {
                width: 1.5rem;
            }
        }
    }

    a {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: normal;
    }

    li {
        a {
            color: $brand;

            &:first-child {
                line-height: 1.25;
                font-size: 1.6rem;
                font-weight: bold;
                color: $brand-text;
                @include pointer;
            }
        }
    }
}
