@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import "src/styles/reset.scss";
@import "src/styles/modules.scss";
@import "src/styles/variables.scss";

body {
    background: $white-gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
        'Spoqa Han Sans Neo', 'Segoe UI', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.6rem;
}

div,
li {
    box-sizing: border-box;
    @include default;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: none;
    }
}

.content-wrap {
    max-width: 96rem;
    margin: 0 auto;

    @include for-size(tablet-landscape) {
        width: 94%;
    }

    @include for-size(mobile-portrait) {
        min-width: 32.5rem;
    }
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
    margin: 0.4rem 0 1.5rem;
    padding: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: $dark-gray;
    transition: font-size 200ms linear;

    @include for-size(mobile-portrait) {
        min-width: 32.5rem;
        font-size: 1.4rem;
    }
}
