@import "src/styles/modules.scss";
@import "src/styles/variables.scss";

.category {
    ul {
        @include flex-start;
        margin-bottom: 3rem;
    }

    li {
        flex-basis: calc(100% / 6);
        height: 5rem;
        position: relative;
        @include border($bright-gray);
        padding: 0.75rem 1.5rem;
        background: $white;
        line-height: 1.75rem;
        text-align: center;
        font-size: 1.4rem;
        color: $brand-text;
        @include pointer;

        &.selected {
            border-color: $brand;
            background: rgba($brand, 0.1);
            font-weight: bold;
            color: $brand;
        }
    }

    span {
        @include align-center;
    }
}
