@import "src/styles/modules.scss";
@import "src/styles/variables.scss";

.notice {
    @include border(red, 0.3);
    margin-top: 8.5rem;
    border-radius: 1rem;
    padding: 1rem;
    background: rgba(yellow, 0.3);
    font-weight: bold;
    color: $brand-text;
    transition: font-size 200ms linear;

    @include for-size(mobile-landscape) {
        line-height: 2.2rem;
    }

    a {
        color: blue;
    }
}

.switch-wrap {
    height: 2.8rem;
    @include space-between(nowrap);
    margin-top: 1.5rem;
    position: relative;

    p {
        margin-top: 0.6rem;
        font-weight: bold;
        color: $brand-text;
        transition: font-size 200ms linear;

        @include for-size(mobile-landscape) {
            display: none;
        }
    }

    div {
        width: 8.1rem;
        @include space-between(nowrap);
        position: absolute;
        right: 0;
    }

    label {
        @include size(5.4rem, 2.8rem);
        display: block;
        position: relative;

        span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 2rem;
            background: $light-gray;
            -webkit-transition: 400ms;
            transition: 400ms;
            @include pointer;

            &::before {
                content: "";
                @include size(2rem, 2rem);
                position: absolute;
                left: 0.4rem;
                bottom: 0.4rem;
                border-radius: 50%;
                background: $white;
                -webkit-transition: 400ms;
                transition: 400ms;
            }
        }
    }

    input {
        @include size(0, 0);
        opacity: 0;

        &:checked + span {
            background: $brand;
        }

        &:focus + span {
            box-shadow: 0 0 0.1rem $brand;
        }

        &:checked + span::before {
            -webkit-transform: translateX(2.6rem);
            -ms-transform: translateX(2.6rem);
            transform: translateX(2.6rem);
        }
    }

    span {
        position: relative;
        top: 0.5rem;
    }
}
