@import "src/styles/modules.scss";
@import "src/styles/variables.scss";

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    background: $dark-gray;
    font-size: 2rem;
    color: $white;
    z-index: 10;

    > div {
        @include space-between;
        max-width: 96rem;
        margin: 0 auto;
    }
}

.logo {
    width: 15rem;
    margin-top: 0.1rem;
}

.github {
    width: 3rem;
}

.buy-coffee {
    width: 15.1rem;
    margin-left: 1.2rem;
}
