@import "src/styles/modules.scss";
@import "src/styles/variables.scss";

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    background: $dark-gray;
    font-size: 2rem;
    color: $white;
    z-index: 10;
    transition: padding 200ms linear;

    @include for-size(mobile-portrait) {
        padding: 1.75rem 0;
    }

    > div {
        @include space-between(nowrap);
        max-width: 96rem;
        margin: 0 auto;

        @include for-size(tablet-landscape) {
            width: 93.5%;
        }

        @include for-size(mobile-portrait) {
            min-width: 32.5rem;
        }
    }
}

.logo {
    width: 15rem;
    margin-top: 0.1rem;
    transition: width 200ms linear;

    @include for-size(mobile-portrait) {
        width: 12rem;
    }
}

.github {
    width: 3rem;
    transition: width 200ms linear;

    @include for-size(mobile-portrait) {
        width: 2.5rem;
    }
}

.buy-me-a-coffee {
    width: 15.1rem;
    margin-left: 1.2rem;
    transition: width 200ms linear;

    @include for-size(mobile-portrait) {
        width: 12rem;
    }
}
