@import "src/styles/modules.scss";
@import "src/styles/variables.scss";

.message {
    @include align-center(fixed);
    @include border($brand, 0.3);
    border-radius: 1rem;
    background: rgba($white, 0.8);
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: $brand;
    z-index: 10;
}
